
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=tzpAiIyTpWOp7JFFuusAbg==,9Uti3WECcKIq4hqtvToMyA==,xb5PUgH3myI4+e2MpMd4wg==,le70eZd2u2eKu8avmzRYqg==
API_TOKEN_SALT=ejeGG6uq4MMSIPYOeo+SRQ==
ADMIN_JWT_SECRET=3I/3H52evkbW5umjFgm30A==
TRANSFER_TOKEN_SALT=eBD/CT+59JouwXlBtl3gOw==
ENCRYPTION_KEY=Wv+P9Hkmdq83Vva/B1cXxQ==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=FEMgRCOGrq3IvBAcuumEzA==
